fastapi
uvicorn
python-multipart
pydantic
pydantic-settings

sqlalchemy
alembic
psycopg2-binary

passlib==1.7.4 
bcrypt==4.0.1
python-jose
pydantic[email]

opencv-python
numpy
Pillow
ultralytics
paddleocr
paddlepaddle

python-dateutil
regex

reportlab
qrcode[pil]

python-dotenv
httpx
requests

langchain
langchain-openai
langchain-google-genai