fastapi
uvicorn
python-multipart
pydantic
pydantic-settings

sqlalchemy
alembic

opencv-python
numpy
Pillow

paddleocr
paddlepaddle

python-dateutil
regex

reportlab
qrcode[pil]

python-dotenv
httpx
requests